{% extends 'Eshopapp/base.html' %}
{% load static %}

{% block content %}
<div class="py-1 bredcrum-bg">
  <div class="container">
    <a class="text-white" href=" {% url 'home' %} ">Home |</a>
    <a class="text-white" href=" {% url 'collections' %} ">Collections</a>
  </div>
</div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="my-3">Collections</h1><hr>
        <div class="row my-2">
          {% for item in category %}
            <div class="col-md-3 my-2">
              <div class="card">
                <a href="{% url 'collectionsview' item.slug %}">
                <div class="card-body">
                  <div class="category-image">
                    <img src="{{ item.image.url }}" height="200px" class="w-100"  alt="category image" />
                  </div>
                  <h4 >{{ item.name }}</h4>
                </div>
              </a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
